/ %p.abt-text Mouse over
%ul.group
  %li.abt-li.abt-text
    = image_tag "abt-roneesh-cropped.jpg"
    .abt-text-box
      %p
        I turned 28 recently, and I came to a pretty major realization: You have to put things back out into the world. And you won't do it great right away, and it never starts off to your tastes, but you keep on and eventually it becomes something. Dave and Sulekha is that for me, one of my ways of giving back to the communities that have inspired me and made me grow. It's part of my dialogue with the world around me, and it's my sincere hope that you take our fine wares with you as you make your place in this world. --Roneesh
  %li.abt-li.abt-img
    = image_tag "babaji_and_uncle.jpg"
    .abt-text-box
      %p
  %li.abt-li-square
    = image_tag "babaji_and_uncle.jpg"
    .abt-text-box
      %p

