/* Base
================================================== */
// $body : #f5f5ee;
// $body : #d9d9d1;
$body: white;
$white: #e8e8e8;
$didot: Didot, Georiga, serif;
$helveticaneue: Helvetica Neue;

$img-gradient: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, .4), rgba(0, 0, 0, .7));



body {
	background: $body;
	color: black;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 10px;
}

.amp {
  font-family: Baskerville,Palatino,"Book Antiqua",serif;
	font-style: italic;
	font-weight: normal;
}

.symbol {
	font: 0/0 a;

	&:after {
		content:"ঔ";
		font-size: 24px;
		@extend %helveticaneue-thin;
	}
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

small {
	font-size: .15em;
}

a, .button {
	@extend %animation;
}

.button {
	color: black;
	border: 1px solid black;
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 1px;
	display: inline-block;
	font-size: 50px;

	&:hover {
		color: #7b7b7b;
		background: -webkit-linear-gradient($white, #ccc);
	}
}

%animation {
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}