/* States
================================================== */
// $body : #f5f5ee;
$body : #d9d9d1;
$white: #e8e8e8;
$didot: Didot, Georiga, serif;
$helveticaneue: Helvetica Neue;

$img-gradient: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, .4), rgba(0, 0, 0, .7));

header {
	// border-bottom: 1px solid $white;

	h1 {
		@extend %helveticaneue-thin;
		font-style: italic;
		margin: .5em .5em;
		font-size: 1.5em;
		span {
			float: right;
		}
		a {
			text-decoration: none;
			color: black;
		}
		a:hover {
			text-decoration: underline;
		}

		a:visited {
			color: black;
		}
	}

}

.nav-title {
	margin: 4px;
}

.nav-title:after {
	// content: "cart";
}

footer {
		position: relative;
		bottom: 0;
		font-family: $didot;
		font-style: italic;
		margin-bottom: 12px;
		margin-left: .5em;
}

section {
	margin-top: 1.25em;
}

