/* Themes
================================================== */
// $body : #f5f5ee;
$body : #d9d9d1;
$white: #e8e8e8;
$didot: Didot, Georiga, serif;
$helveticaneue: Helvetica Neue;

$img-gradient: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, .4), rgba(0, 0, 0, .7));
