
%section.main
  .name-div
    %h2 <i>Dave & Sulekha</i>
    %h3 Unquestionable Clothing

.collection.group
  %h1.collection-number Collezione 1
  %h3.collection-product-line The Perfect Pastel Pocket Square
  %hr.collection-divider
  %ul.collection-thumb-list
    -@products.each do |product|
      -if product.product_line == "The Perfect Pastel"
        %li.collection-thumb
          = link_to image_tag(product.product_images.where(image_type: "gallery").sample.source), product_url(product.id), remote: true
  / .product-container

.collection.group
  %h1.collection-number Collezione 2
  %h3.collection-product-line The Perfect Madras Pocket Square
  %hr.collection-divider
  %ul.collection-thumb-list
    -@products.each do |product|
      -if product.product_line == "The Perfect Madras"
        %li.collection-thumb
          = link_to image_tag(product.product_images.where(image_type: "gallery").sample.source), product_url(product.id), remote: true
  .madras-product-container

.collection.group
  %h1.collection-number Collezione 3
  %h3.collection-product-line Perfect Plaids and Gingham
  %hr.collection-divider
  %ul.collection-thumb-list
    -@products.each do |product|
      -if product.product_line == "Perfect Plaids and Gingham"
        %li.collection-thumb
          = link_to image_tag(product.product_images.where(image_type: "gallery").sample.source), product_url(product.id), remote: true