%section.main
  %h2 <i>Dave & Sulekha</i>
  %h3 Unquestionable Clothing

.container
  %section.product-container#anchor

  %section.thumbnails
    %ul
      -@products.each do |product|
        %li
          = link_to (image_tag "im-IMG_3167.JPG"), product_url(product.id), :remote => true



